body{
    font-family: 'Arial', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: #4594BB;
    color: #FAFAFA;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.basic {
    color: #616161;
    font-size: 18px;
    text-align: center;
    padding: 10px 0 0px;
}

hr {
    height: 3px;
    color: #616161;
    background: #616161;
    margin: 10px 0 20px;
}
  
.format{
  text-align: center;
  background-color: #616161;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #FAFAFA;
  width: 80%;
  padding: 10px;
  margin: 1% 10% 1% 10%;
  border-radius: 10px;
}
  
.style3{
  margin: 10px 2% 10px 2%;
  padding: 15px 3% 15px 3%;
  font-size: 20px;
  background-color: #616161;
  color: #FAFAFA;
  text-align: center;
}
  
button{
  background-color: #616161;
  color: #FAFAFA;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 5px;
}

.back-button {
  background-color: #616161;
  color: #FAFAFA;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  position: absolute; /* Positioned at the top-left */
  top: 1%;
  left: 1%;
}

.back-button:hover {
    background-color: #FF4242; /* Hover color */
}

/* Filter Styling */

.sort-options {
    display: flex;
    margin: 1% 30%
}

.sort-options button {
    background: #616161; /* Filter button color */
    color: #FAFAFA;
    border: none;
    padding: 5px 10px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 3px;
    display: inline;
}

/*Product Card Styling */

.product-card {
    text-align: left;
    background-color: #ABABAB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FAFAFA;
    width: 80%;
    padding: 10px;
    margin: 1% 10% 1% 10%;
    border-radius: 10px;
}

.product-card img {
    width: 20%;
    height: 20%;
}

.product-card button {
  border: none;
}

.product-card button:hover{
  background-color: #6DAA68;
}